@font-face {
  font-family: 'Bahnschrift SemiBold';
  font-style: normal;
  font-weight: 600; /* SemiBold weight */
  font-display: swap;
  src: url('../fonts/BAHNSCHRIFT.TTF') format('truetype');
}

/* Apply the Bahnschrift SemiBold font to all headlines */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bahnschrift SemiBold', sans-serif;
  font-size: 1em; /* Make sure to use the same font size */
}