---
layout: default
bodyClass: "page-home"
---

<div class="intro-container">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %} intro-image-custom" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="additional-content">
  <!-- Additional content will go here -->
  <div style="text-align: center;">
    <table style="margin: 0 auto; text-align: center; vertical-align: middle;">
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/images/logo/erc_flag.jpeg" alt="ERC logo" style="height: 130px; width: auto;"></td>
        <td style="width: 20px;">&nbsp;&nbsp;&nbsp;</td>
        <td style="vertical-align: middle; text-align: center;"><img src="/images/logo/uni_vienna_logo.jpeg" alt="Uni Vienna logo" style="height: 90px; width: auto;"></td>
      </tr>
    </table>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<style>
  .intro-container {
    position: relative;
    text-align: center;
    padding-top: 100px; /* Space above the intro section */
    padding-bottom: 80px; /* Space below the intro section */
    margin-bottom: 40px; /* Space below the intro section */
  }
  @media (min-width: 768px) {
    .intro-container {
      padding-top: 140px; /* Increase space above the intro section on larger screens */
      padding-bottom: 20px; /* Increase space below the intro section on larger screens */
    }
  }
  .intro-image {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 20px; /* Center the image horizontally and add space below */
  }
  .intro-image-custom {
    max-height: 272px; /* Adjust the maximum height as needed */
    width: auto;
  }
  .additional-content {
    text-align: center;
    margin-top: 1px; /* Space above additional content */
    margin-bottom: 60px; /* Space below additional content */
  }
  table {
    margin: 0 auto; /* Center the table horizontally */
  }
  table img {
    margin: 0 10px; /* Adjust the space between images */
  }
  h1 {
    font-size: 42px; /* Ensure consistent font size for h1 */
    font-weight: bold;
    line-height: 1.2;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 48px; /* Font size for medium screens and up */
    }
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 50px; /* Font size for large screens and up */
    }
  }
</style>
